* {
    box-sizing: border-box;
}

body {
    background-image: url("https://www.teahub.io/photos/full/229-2290417_background-yu-gi-oh.jpg");
    background-size: cover;
    width: 100vw;
    height: 99vh;
    overflow:hidden;
}

.welcome_container {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 25%;
    top: 20%;
    text-align: center;
    
}

.welcome_logo {
    mix-blend-mode: multiply;
    position: relative;
    left: 100px;
    animation: yugioh-logo-pulse infinite 4s linear;
}

.welcome_logo img {
    width: 900px;
    height: 400px;
    mix-blend-mode: multiply;
}

.login_logout_buttons {
    position: relative;
    top: 60px;
    left: 280px;
}

@keyframes yugioh-logo-pulse {
    0% {
        transform: scale(1, 1);
      }
      50% {
        transform: scale(1.1, 1.1);
      }
      100% {
        transform: scale(1, 1);
      }
  }

canvas, .player_parent_container {
    border: 2px solid black;
    width: 70%;
    height: 90%;
    position: absolute;
    left: 18%;
    top: 5%;
    align-items: center;
    justify-content: center;
}

canvas {
    background-color: tan;
    opacity: 95%;
}

.player_parent_container img {
 transition: 1.3s;
}

.player_parent_container img:hover {
    transform: scale(1.2, 1.2);
}


.login_parent_container {
    border: 2px solid black;
    width: 600px;
    height: 600px;
    position: absolute;
    left: 40%;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../src/assets/Joey-l.webp");
    background-color: rgb(172, 98, 1);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 175px;
    text-align: center;
    opacity: 95%;
}

a {
    color: white;
}

.signup_parent_container {
    border: 2px solid black;
    width: 600px;
    height: 600px;
    position: absolute;
    left: 40%;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../src/assets/TristanTaylor-DULI.webp");
    background-color: rgb(172, 98, 1);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 350px;
    text-align: right;
    opacity: 95%;
}

.edit_parent_container {
    border: 2px solid black;
    width: 600px;
    height: 600px;
    position: absolute;
    left: 40%;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../src/assets/YamiMarik-DULI.webp");
    background-color: rgb(172, 98, 1);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 250px;
    text-align: right;
    opacity: 95%;
}

.edit_parent_container button {
    position: relative;
    right: 25%;
}

.edit_parent_container h2 {
    cursor: pointer;
}

.deck_editor_parent_container {
    border: 2px solid black;
    width: 1550px;
    height: 830px;
    position: absolute;
    left: 15%;
    top: 3%;
    background-image: url("../src/assets/YugiMuto-DULI.png");
    background-color: rgb(172, 98, 1);
    background-repeat: no-repeat;
    background-size: 12%;
    background-position: left 500px;
    opacity: 95%;
}

.deck_editor_card_container {
    position: absolute;
    left: 188px;
    width: 1350px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    border-left: none;  
}

.current_player_deck_container {
    width: 175px;
    height: 225px;
    border: 1px solid black;
    position: absolute;
    left: 8px;
    top: 270px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.nav_bar h1 {
    background-image: url("../src/assets/yugioh logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right -65px ;
    font-size: 0px;
    width: 210px;
    height: 80px;
    mix-blend-mode: multiply;
    overflow-y: visible;
}

.nav_bar button {
    font-size: 20px;
    margin: 10px 5px;
}

.card_container button {
     position: relative;   
     left: 19%;
     margin: 5px;
}

.cards {
    margin: 5px 5px 0px 5px;
    transition: 1s;
}
 

.cards:hover {
    transform: scale(1.1, 1.1);
}


.current_player_info {
    width: 160px;
    position: absolute;
    left: 5px;
    top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.current_player_info img {
    width: 150px;
    height:150px;
    border-radius: 50%;;
}

button {
    border-radius: 30px;
}

label {
    color: white;    
}


.App {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.nav_bar {
    border: 1px solid black;
    background-color: rgb(172, 98, 1);
    background-image: url("../src/assets/SetoKaiba-DL.webp");
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: right 450px;
    opacity: 90%;
    display: block;
    height: 100%;
    width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;
    font-size: 20px;
    grid-area: 1 / 1 / 2 / 3;
}

.AppGame {
    background-color: rgb(172, 98, 1);
    opacity: 95%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: relative; 
    margin-left: 0;   
    margin: 10px;
    border: 1px solid black;
    grid-area: 1 / 2 / 2 / 3;
}

.AppGame .row {    
    width: 70%;
    border: 1px solid black;
    height: 150px;    
}

.AppGame .Player_Hand {
    width: 55%;
    margin: 1rem 0;
    overflow-x: scroll;
}

.Player_Hand img {
    padding: 5%;
    transition: .5s;
}

.Player_Hand img:hover {
    transform: scale(1.2, 1.2);
}

.AppGame .Monster_Cards {
    margin: 1%;
}

.AppGame .TM_Cards {
    margin: 1%;
}

span {
    position: absolute;
}

.droppable-row {
    width: 100%;
    height: 100%;    
    border-radius: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
    bottom: 100%;
    padding: 0%;
}

.items {
    margin-bottom: 1%;
    color: white;
}

.AppGame .player_deck_location {
    width: 10%;
    height: 22%;
    position: absolute;
    left: 89%;
    top: 70%;
    background-image: url("https://ms.yugipedia.com//thumb/9/90/Back-RushDuel-JP.png/253px-Back-RushDuel-JP.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 90%;
}

.AppGame .player_graveyard_location {
    width: 10%;
    height: 22%;
    
    position: absolute;
    left: 2%;
    top: 70%;
    background-image: url("https://ms.yugipedia.com//thumb/9/90/Back-RushDuel-JP.png/253px-Back-RushDuel-JP.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 90%;
}
