body {
    background-image: url("https://www.teahub.io/photos/full/229-2290417_background-yu-gi-oh.jpg");
    background-size: cover;
    width: 1840px;
    height: 1000px;
    overflow:hidden;
}

.welcome_container {
    width: 500px;
    height: 500px;
    position: absolute;
    left: 25%;
    top: 20%;
    text-align: center;
    
}

.welcome_logo {
    mix-blend-mode: multiply;
    position: relative;
    left: 100px;
    animation: yugioh-logo-pulse infinite 4s linear;
}

.welcome_logo img {
    width: 900px;
    height: 400px;
    mix-blend-mode: multiply;
}

.login_logout_buttons {
    position: relative;
    top: 60px;
    left: 280px;
}

@keyframes yugioh-logo-pulse {
    0% {
        transform: scale(1, 1);
      }
      50% {
        transform: scale(1.1, 1.1);
      }
      100% {
        transform: scale(1, 1);
      }
  }

canvas, .player_parent_container {
    border: 2px solid black;
    width: 70%;
    height: 90%;
    position: absolute;
    left: 18%;
    top: 5%;
    align-items: center;
    justify-content: center;
}

canvas {
    background-color: tan;
    opacity: 95%;
}

.player_parent_container img {
 transition: 1.3s;
}

.player_parent_container img:hover {
    transform: scale(2.5, 2.5);
    position: relative;
    top: -60px;
    z-index: 1;
}

.nav_bar {
    border: 1px solid black;
    background-color: rgb(172, 98, 1);
    background-image: url("../src/assets/SetoKaiba-DL.webp");
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: right 450px;
    opacity: 90%;
    position: absolute;
    display: block;
    height: 100%;
    width: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-align: center;
    font-size: 20px;
}

.login_parent_container {
    border: 2px solid black;
    width: 600px;
    height: 600px;
    position: absolute;
    left: 40%;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../src/assets/Joey-l.webp");
    background-color: rgb(172, 98, 1);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    opacity: 95%;

}

.signup_parent_container {
    border: 2px solid black;
    width: 600px;
    height: 600px;
    position: absolute;
    left: 40%;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../src/assets/TristanTaylor-DULI.webp");
    background-color: rgb(172, 98, 1);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: right;
    opacity: 95%;
}

.edit_parent_container {
    border: 2px solid black;
    width: 600px;
    height: 600px;
    position: absolute;
    left: 40%;
    top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../src/assets/YamiMarik-DULI.webp");
    background-color: rgb(172, 98, 1);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: right;
    opacity: 95%;
}

.edit_parent_container button {
    position: relative;
    right: 25%;
}

.edit_parent_container h2 {
    cursor: pointer;
}

.deck_editor_parent_container {
    border: 2px solid black;
    width: 1550px;
    height: 830px;
    position: absolute;
    left: 15%;
    top: 3%;
    background-image: url("../src/assets/YugiMuto-DULI.png");
    background-color: rgb(172, 98, 1);
    background-repeat: no-repeat;
    background-size: 12%;
    background-position: left 500px;
    opacity: 95%;
}

.deck_editor_card_container {
    position: absolute;
    left: 188px;
    width: 1350px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    border-left: none;  
}

.current_player_deck_container {
    width: 175px;
    height: 225px;
    border: 1px solid black;
    position: absolute;
    left: 8px;
    top: 270px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.nav_bar h1 {
    background-image: url("../src/assets/yugioh logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right -65px ;
    font-size: 0px;
    width: 210px;
    height: 80px;
    mix-blend-mode: multiply;
    overflow-y: visible;
}

.nav_bar button {
    font-size: 20px;
    margin: 10px 5px;
}

.card_container button {
     position: relative;   
     left: 19%;
     margin: 5px;
}

.cards {
    margin: 5px 5px 0px 5px;
    transition: 1s;
}
 

.cards:hover {
    transform: scale(1.5, 1.5);
}


.current_player_info {
    width: 160px;
    position: absolute;
    left: 5px;
    top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.current_player_info img {
    width: 150px;
    height:150px;
    border-radius: 50%;;
}

button {
    border-radius: 30px;
}

label {
    color: white;    
}














/* below CSS for crd layout */

.card_layout {
    border: 1px solid black;
    height: 100px;
    width: 80px;
}


.player_deck_location {
    width: 86px;
    height: 135px;
    border: 1px solid black;
    position: absolute;
    left: 1150px;
    top: 615px;
    background-image: url("https://ms.yugipedia.com//thumb/9/90/Back-RushDuel-JP.png/253px-Back-RushDuel-JP.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100%;
}

.player_graveyard_location {
    width: 86px;
    height: 135px;
    border: 1px solid black;
    position: absolute;
    left: 22px;
    top: 615px;
}

.player_trap_magic_location1{
    width: 86px;
    height: 135px;
    border: 1px solid black;
    position: absolute;
    left: 260px;
    top: 535px; 
}

.player_trap_magic_location2{
    width: 86px;
    height: 135px;
    border: 1px solid black;
    position: absolute;
    left: 435px;
    top: 535px; 
}

.player_trap_magic_location3{
    width: 86px;
    height: 135px;
    border: 1px solid black;
    position: absolute;
    left: 610px;  
    top: 535px;   
}

.player_trap_magic_location4{
    width: 86px;
    height: 135px;
    border: 1px solid black;
    position: absolute;
    left: 782px;
    top: 535px 
}

.player_trap_magic_location5{
    width: 86px;
    height: 135px;
    border: 1px solid black;
    position: absolute;
    left: 955px;
    top: 535px; 
}

.player_monster_location5 {
    width: 86px;
    height: 135px;
    border: 1px solid black;
    position: absolute;
    left: 955px;
    top: 380px; 
}

.player_monster_location4 {
    width: 86px;
    height: 135px;
    border: 1px solid black;
    position: absolute;
    left: 782px;
    top: 380px; 
}

.player_monster_location3 {
    width: 86px;
    height: 135px;
    border: 1px solid black;
    position: absolute;
    left: 610px;
    top: 380px;  
}

.player_monster_location2 {
    width: 86px;
    height: 135px;
    border: 1px solid black;
    position: absolute;
    left: 435px;
    top: 380px;  
}

.player_monster_location1 {
    width: 86px;
    height: 135px;
    border: 1px solid black;
    position: absolute;
    left: 260px;
    top: 380px;  
}

.player_hand_location1 {
    width: 86px;
    height: 135px;
    border: 1px solid black;
    position: absolute;
    left: 360px;
    top: 698px;
}

.player_hand_location2 {
    width: 86px;
    height: 135px;
    border: 1px solid black;
    position: absolute;
    left: 460px;
    top: 698px;
}

.player_hand_location3 {
    width: 86px;
    height: 135px;
    border: 1px solid black;
    position: absolute;
    left: 560px;
    top: 698px;
}

.player_hand_location4 {
    width: 86px;
    height: 135px;
    border: 1px solid black;
    position: absolute;
    left: 660px;
    top: 698px;
}

.player_hand_location5 {
    width: 86px;
    height: 135px;
    border: 1px solid black;
    position: absolute;
    left: 760px;
    top: 698px;
}

.player_hand_location6 {
    width: 86px;
    height: 135px;
    border: 1px solid black;
    position: absolute;
    left: 860px;
    top: 698px;
}
